.elementor-7431 .elementor-element.elementor-element-50e2864>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-7431 .elementor-element.elementor-element-50e2864:not(.elementor-motion-effects-element-type-background),
.elementor-7431 .elementor-element.elementor-element-50e2864>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FAF9F8;
}

.is-stuck .elementor-7431 .elementor-element.elementor-element-50e2864 {
    background-color: #FAF9F8;
}

.elementor-7431 .elementor-element.elementor-element-50e2864 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 50px 0px 140px;
}

.elementor-7431 .elementor-element.elementor-element-50e2864>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-7431 .elementor-element.elementor-element-960f68b>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-7431 .elementor-element.elementor-element-1c47a3b .module-logo {
    padding-top: 24px;
    padding-inline-end: 0px;
    padding-bottom: 19px;
    padding-inline-start: 0px;
}

.is-stuck .elementor-7431 .elementor-element.elementor-element-1c47a3b .module-logo {
    padding-top: 25px;
    padding-inline-end: 0px;
    padding-bottom: 25px;
    padding-inline-start: 0px;
}

.elementor-7431 .elementor-element.elementor-element-1c47a3b {
    width: var(--container-widget-width, 200px);
    max-width: 200px;
    --container-widget-width: 200px;
    --container-widget-flex-grow: 0;
}

.elementor-7431 .elementor-element.elementor-element-1c47a3b.elementor-element {
    --align-self: flex-start;
    --flex-grow: 1;
    --flex-shrink: 0;
}

.elementor-bc-flex-widget .elementor-7431 .elementor-element.elementor-element-ea062cc.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-7431 .elementor-element.elementor-element-ea062cc.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-7431 .elementor-element.elementor-element-ea062cc.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-7431 .elementor-element.elementor-element-ea062cc>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-7431 .elementor-element.elementor-element-807fa6e .main-nav>li>a {
    font-family: "Open Sauce One", Sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1px;
}

.elementor-7431 .elementor-element.elementor-element-807fa6e {
    --lqd-menu-items-top-padding: 20px;
    --lqd-menu-items-right-padding: 20px;
    --lqd-menu-items-bottom-padding: 020px;
    --lqd-menu-items-left-padding: 20px;
}

.is-stuck .elementor-7431 .elementor-element.elementor-element-807fa6e {
    --lqd-menu-items-top-padding: 20px;
    --lqd-menu-items-right-padding: 20px;
    --lqd-menu-items-bottom-padding: 20px;
    --lqd-menu-items-left-padding: 20px;
}

.elementor-7431 .elementor-element.elementor-element-807fa6e .nav-item-children>li>a {
    font-family: "Open Sauce One", Sans-serif;
    font-weight: 500;
}

.elementor-7431 .elementor-element.elementor-element-807fa6e .main-nav>li>a,
.navbar-fullscreen .elementor-7431 .elementor-element.elementor-element-807fa6e .main-nav>li>a {
    color: #242424;
}

.elementor-7431 .elementor-element.elementor-element-807fa6e .main-nav>li:hover>a,
.elementor-7431 .elementor-element.elementor-element-807fa6e .main-nav>li.is-active>a,
.navbar-fullscreen .elementor-7431 .elementor-element.elementor-element-807fa6e .main-nav>li>a:hover {
    color: #1d5291;
}

.elementor-7431 .elementor-element.elementor-element-807fa6e .main-nav .nav-item-children>li>a {
    color: #242424;
}

.elementor-7431 .elementor-element.elementor-element-807fa6e .main-nav .nav-item-children>li>a:hover {
    color: #1d5291;
}

.elementor-7431 .elementor-element.elementor-element-807fa6e>.elementor-widget-container {
    margin: 0px 20px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-7431 .elementor-element.elementor-element-807fa6e.elementor-element {
    --align-self: center;
}

.elementor-7431 .elementor-element.elementor-element-afac378 .btn {
    font-family: "Open Sauce One", Sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    fill: #FFFFFF;
    --btn-pt: 11px;
    --btn-pe: 40px;
    --btn-pb: 11px;
    --btn-ps: 40px;
    padding: 11px 40px 11px 40px;
}

.elementor-7431 .elementor-element.elementor-element-afac378 .btn:hover,
.elementor-7431 .elementor-element.elementor-element-afac378 .btn:focus {
    background-color: #f68e44;
}

.elementor-7431 .elementor-element.elementor-element-afac378>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-7431 .elementor-element.elementor-element-afac378.elementor-element {
    --align-self: center;
}

.elementor-7431 .elementor-element.elementor-element-e23453d {
    padding: 15px 0px 40px 15px;
}

.elementor-bc-flex-widget .elementor-7431 .elementor-element.elementor-element-525f9e2.elementor-column .elementor-widget-wrap {
    align-items: space-between;
}

.elementor-7431 .elementor-element.elementor-element-525f9e2.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: space-between;
    align-items: space-between;
}

.elementor-7431 .elementor-element.elementor-element-55d8dfc .ld-module-sd>.ld-module-dropdown {
    width: 450px;
}

.elementor-7431 .elementor-element.elementor-element-55d8dfc .ld-module-sd>.nav-trigger .bar,
.elementor-7431 .elementor-element.elementor-element-55d8dfc .ld-module-sd>.nav-trigger.style-2 .bar:before,
.elementor-7431 .elementor-element.elementor-element-55d8dfc .ld-module-sd>.nav-trigger.style-2 .bar:after {
    background: #000000;
}

.elementor-7431 .elementor-element.elementor-element-55d8dfc .ld-module-sd>.nav-trigger {
    color: #000000;
}

.elementor-7431 .elementor-element.elementor-element-55d8dfc .ld-module-sd>.nav-trigger.solid .bars:before {
    background-color: #F3F3F3;
}

.elementor-7431 .elementor-element.elementor-element-55d8dfc .ld-module-sd>.nav-trigger.bordered .bars {
    border-color: #F3F3F3;
}

.elementor-7431 .elementor-element.elementor-element-55d8dfc.lqd-active-row-dark .ld-module-sd>.nav-trigger .bar,
.elementor-7431 .elementor-element.elementor-element-55d8dfc.lqd-active-row-dark .ld-module-sd>.nav-trigger.style-2 .bar:before,
.elementor-7431 .elementor-element.elementor-element-55d8dfc.lqd-active-row-dark .ld-module-sd>.nav-trigger.style-2 .bar:after {
    background: #FFFFFF;
    color: #FFFFFF;
}

.elementor-7431 .elementor-element.elementor-element-dafdf73 a {
    color: #242424;
}

.elementor-7431 .elementor-element.elementor-element-dafdf73 .lqd-scrl-indc-line {
    background-color: #242424 !important;
}

.elementor-7431 .elementor-element.elementor-element-dafdf73 .lqd-scrl-indc-el {
    background-color: #1d5291;
}

.elementor-7431 .elementor-element.elementor-element-dafdf73.lqd-active-row-dark a {
    color: #FFFFFF;
}

.elementor-7431 .elementor-element.elementor-element-dafdf73.lqd-active-row-dark .lqd-scrl-indc-line {
    background-color: #FFFFFF33 !important;
}

.elementor-7431 .elementor-element.elementor-element-7f00968>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-7431 .elementor-element.elementor-element-40bd9ec {
    width: 100%;
    max-width: 100%;
}

.main-header>.elementor>.elementor-section>.elementor-container>.elementor-column>.elementor-widget-wrap>.elementor-element.lqd-active-row-light .nav-trigger.bordered .bars:before {
    border-color: #242424;
}

.main-header>.elementor>.elementor-section>.elementor-container>.elementor-column>.elementor-widget-wrap>.elementor-element.lqd-active-row-light .nav-trigger .bar {
    background: #242424;
}

.main-header>.elementor>.elementor-section>.elementor-container>.elementor-column>.elementor-widget-wrap>.elementor-element.lqd-active-row-light>.elementor-widget-container>.lqd-custom-menu,
.main-header>.elementor>.elementor-section>.elementor-container>.elementor-column>.elementor-widget-wrap>.elementor-element.lqd-active-row-light>.elementor-widget-container>.lqd-custom-menu>ul>li>a,
.main-header>.elementor>.elementor-section>.elementor-container>.elementor-column>.elementor-widget-wrap>.elementor-element.lqd-active-row-light>.elementor-widget-container>.lqd-custom-menu .lqd-custom-menu-dropdown-btn,
.main-header>.elementor>.elementor-section>.elementor-container>.elementor-column>.elementor-widget-wrap>.elementor-element.lqd-active-row-light>.elementor-widget-container>p,
.main-header>.elementor>.elementor-section>.elementor-container>.elementor-column>.elementor-widget-wrap>.elementor-element.lqd-active-row-light>.elementor-widget-container>.btn-naked,
.main-header>.elementor>.elementor-section>.elementor-container>.elementor-column>.elementor-widget-wrap>.elementor-element.lqd-active-row-light>.elementor-widget-container>.btn-underlined,
.main-header>.elementor>.elementor-section>.elementor-container>.elementor-column>.elementor-widget-wrap>.elementor-element.lqd-active-row-light>.elementor-widget-container>.ld-fancy-heading .ld-fh-element,
.main-header>.elementor>.elementor-section>.elementor-container>.elementor-column>.elementor-widget-wrap>.elementor-element.lqd-active-row-light>.elementor-widget-container>.social-icon li a,
.main-header>.elementor>.elementor-section>.elementor-container>.elementor-column>.elementor-widget-wrap>.elementor-element.lqd-active-row-light>.elementor-widget-container>.iconbox h3,
.main-header>.elementor>.elementor-section>.elementor-container>.elementor-column>.elementor-widget-wrap>.elementor-element.lqd-active-row-light>.elementor-widget-container>.iconbox .iconbox-icon-container,
.main-header>.elementor>.elementor-section>.elementor-container>.elementor-column>.elementor-widget-wrap>.elementor-element.lqd-active-row-light .nav-trigger,
.main-header>.elementor>.elementor-section>.elementor-container>.elementor-column>.elementor-widget-wrap>.elementor-element.lqd-active-row-light .lqd-scrl-indc .main-header>.elementor>.elementor-section>.elementor-container>.elementor-column>.elementor-widget-wrap>.elementor-element.lqd-active-row-light .main-nav>li>a,
.main-header>.elementor>.elementor-section>.elementor-container>.elementor-column>.elementor-widget-wrap>.elementor-element.lqd-active-row-light .ld-module-trigger .ld-module-trigger-txt,
.main-header>.elementor>.elementor-section>.elementor-container>.elementor-column>.elementor-widget-wrap>.elementor-element.lqd-active-row-light .ld-module-trigger .ld-module-trigger-count,
.main-header>.elementor>.elementor-section>.elementor-container>.elementor-column>.elementor-widget-wrap>.elementor-element.lqd-active-row-light .ld-module-trigger-icon {
    color: #242424;
}

.main-header>.elementor>.elementor-section>.elementor-container>.elementor-column>.elementor-widget-wrap>.elementor-element.lqd-active-row-light>.elementor-widget-container>.ld-fancy-heading .ld-fh-element span {
    color: #242424 !important;
}

.main-header>.elementor>.elementor-section>.elementor-container>.elementor-column>.elementor-widget-wrap>.elementor-element.lqd-active-row-dark .nav-trigger.bordered .bars:before {
    border-color: #FFFFFF;
}

.main-header>.elementor>.elementor-section>.elementor-container>.elementor-column>.elementor-widget-wrap>.elementor-element.lqd-active-row-dark .nav-trigger .bar {
    background: #FFFFFF;
}

.main-header>.elementor>.elementor-section>.elementor-container>.elementor-column>.elementor-widget-wrap>.elementor-element.lqd-active-row-dark>.elementor-widget-container>.lqd-custom-menu,
.main-header>.elementor>.elementor-section>.elementor-container>.elementor-column>.elementor-widget-wrap>.elementor-element.lqd-active-row-dark>.elementor-widget-container>.lqd-custom-menu>ul>li>a,
.main-header>.elementor>.elementor-section>.elementor-container>.elementor-column>.elementor-widget-wrap>.elementor-element.lqd-active-row-dark>.elementor-widget-container>.lqd-custom-menu .lqd-custom-menu-dropdown-btn,
.main-header>.elementor>.elementor-section>.elementor-container>.elementor-column>.elementor-widget-wrap>.elementor-element.lqd-active-row-dark>.elementor-widget-container>p,
.main-header>.elementor>.elementor-section>.elementor-container>.elementor-column>.elementor-widget-wrap>.elementor-element.lqd-active-row-dark>.elementor-widget-container>.btn-naked,
.main-header>.elementor>.elementor-section>.elementor-container>.elementor-column>.elementor-widget-wrap>.elementor-element.lqd-active-row-dark>.elementor-widget-container>.btn-underlined,
.main-header>.elementor>.elementor-section>.elementor-container>.elementor-column>.elementor-widget-wrap>.elementor-element.lqd-active-row-dark>.elementor-widget-container>.ld-fancy-heading .ld-fh-element,
.main-header>.elementor>.elementor-section>.elementor-container>.elementor-column>.elementor-widget-wrap>.elementor-element.lqd-active-row-dark>.elementor-widget-container>.social-icon li a,
.main-header>.elementor>.elementor-section>.elementor-container>.elementor-column>.elementor-widget-wrap>.elementor-element.lqd-active-row-dark>.elementor-widget-container>.iconbox h3,
.main-header>.elementor>.elementor-section>.elementor-container>.elementor-column>.elementor-widget-wrap>.elementor-element.lqd-active-row-dark>.elementor-widget-container>.iconbox .iconbox-icon-container,
.main-header>.elementor>.elementor-section>.elementor-container>.elementor-column>.elementor-widget-wrap>.elementor-element.lqd-active-row-dark .nav-trigger,
.main-header>.elementor>.elementor-section>.elementor-container>.elementor-column>.elementor-widget-wrap>.elementor-element.lqd-active-row-dark .lqd-scrl-indc .main-header>.elementor>.elementor-section>.elementor-container>.elementor-column>.elementor-widget-wrap>.elementor-element.lqd-active-row-dark .main-nav>li>a,
.main-header>.elementor>.elementor-section>.elementor-container>.elementor-column>.elementor-widget-wrap>.elementor-element.lqd-active-row-dark .ld-module-trigger .ld-module-trigger-txt,
.main-header>.elementor>.elementor-section>.elementor-container>.elementor-column>.elementor-widget-wrap>.elementor-element.lqd-active-row-dark .ld-module-trigger .ld-module-trigger-count,
.main-header>.elementor>.elementor-section>.elementor-container>.elementor-column>.elementor-widget-wrap>.elementor-element.lqd-active-row-dark .ld-module-trigger-icon {
    color: #FFFFFF;
}

.main-header>.elementor>.elementor-section>.elementor-container>.elementor-column>.elementor-widget-wrap>.elementor-element.lqd-active-row-dark>.elementor-widget-container>.ld-fancy-heading .ld-fh-element span {
    color: #FFFFFF !important;
}

@media(min-width:768px) {
    .elementor-7431 .elementor-element.elementor-element-960f68b {
        width: 8.684%;
    }

    .elementor-7431 .elementor-element.elementor-element-ea062cc {
        width: 91.316%;
    }
}