.elementor-7437 .elementor-element.elementor-element-831e93f:not(.elementor-motion-effects-element-type-background),
.elementor-7437 .elementor-element.elementor-element-831e93f>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #1d5291;
}

.elementor-7437 .elementor-element.elementor-element-831e93f {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 7% 12% 8% 12%;
}

.elementor-7437 .elementor-element.elementor-element-831e93f>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-7437 .elementor-element.elementor-element-1d2cd26>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-7437 .elementor-element.elementor-element-ca0a94a>.elementor-container {
    max-width: 1074px;
}

.elementor-7437 .elementor-element.elementor-element-ca0a94a:not(.elementor-motion-effects-element-type-background),
.elementor-7437 .elementor-element.elementor-element-ca0a94a>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #242424;
}

.elementor-7437 .elementor-element.elementor-element-ca0a94a {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 60px 0px 35px 0px;
}

.elementor-7437 .elementor-element.elementor-element-ca0a94a>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-7437 .elementor-element.elementor-element-53ee062 .ld-fancy-heading {
    text-align: center;
}

.elementor-7437 .elementor-element.elementor-element-53ee062 .ld-fh-element,
.elementor-7437 .elementor-element.elementor-element-53ee062 .ld-fh-element a {
    color: #FBFAF9;
}

.elementor-7437 .elementor-element.elementor-element-53ee062 .ld-fh-element {
    font-family: "Open Sauce One", Sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 1.07em;
}

.elementor-7437 .elementor-element.elementor-element-53ee062 .txt-rotate-keywords {
    color: #f68e44;
}

.elementor-7437 .elementor-element.elementor-element-53ee062 .lqd-highlight-inner,
.elementor-7437 .elementor-element.elementor-element-53ee062 .lqd-highlight-inner .lqd-highlight-brush-svg {
    height: 0.275em;
}

.elementor-7437 .elementor-element.elementor-element-53ee062 .lqd-highlight-inner {
    bottom: 0em;
    left: 0em;
}

.elementor-7437 .elementor-element.elementor-element-53ee062>.elementor-widget-container {
    margin: 0px 0px 6px 0px;
}

.elementor-7437 .elementor-element.elementor-element-1dba464 .btn {
    font-family: "Open Sauce One", Sans-serif;
    font-size: 20px;
    font-weight: 700;
    --btn-pt: 14px;
    --btn-pe: 18px;
    --btn-pb: 14px;
    --btn-ps: 18px;
    padding: 14px 18px 14px 18px;
}

.elementor-7437 .elementor-element.elementor-element-1dba464 .btn:hover,
.elementor-7437 .elementor-element.elementor-element-1dba464 .btn:focus {
    color: #fff;
    background-color: #f68e44;
}

.elementor-7437 .elementor-element.elementor-element-a931b99 img {
    width: 64%;
    max-width: 47%;
}

.elementor-7437 .elementor-element.elementor-element-a931b99 {
    text-align: center;
}

.elementor-7437 .elementor-element.elementor-element-a931b99 .lqd-imggrp-single {
    opacity: 1;
}

.elementor-7437 .elementor-element.elementor-element-a931b99>.elementor-widget-container {
    margin: 40px 0px 0px 0px;
    padding: 0px 0px 30px 0px;
}

.elementor-7437 .elementor-element.elementor-element-a931b99.elementor-element {
    --align-self: center;
}

.elementor-7437 .elementor-element.elementor-element-c0942e0 {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 25px;
    --grid-column-gap: 10px;
    --grid-row-gap: 0px;
    width: 100%;
    max-width: 100%;
}

.elementor-7437 .elementor-element.elementor-element-c0942e0 .elementor-widget-container {
    text-align: center;
}

.elementor-7437 .elementor-element.elementor-element-c0942e0 .elementor-social-icon {
    background-color: #FFFFFF00;
}

.elementor-7437 .elementor-element.elementor-element-c0942e0 .elementor-social-icon i {
    color: #FAF9F8;
}

.elementor-7437 .elementor-element.elementor-element-c0942e0 .elementor-social-icon svg {
    fill: #FAF9F8;
}

.elementor-7437 .elementor-element.elementor-element-c0942e0 .elementor-social-icon:hover {
    background-color: #f68e44;
}

.elementor-7437 .elementor-element.elementor-element-df4ae35:not(.elementor-motion-effects-element-type-background),
.elementor-7437 .elementor-element.elementor-element-df4ae35>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #1d5291;
}

.elementor-7437 .elementor-element.elementor-element-df4ae35 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 100px 0px 0px 0px;
}

.elementor-7437 .elementor-element.elementor-element-df4ae35>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-7437 .elementor-element.elementor-element-afe4297>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-7437 .elementor-element.elementor-element-c66f0f8 .ld-fh-element,
.elementor-7437 .elementor-element.elementor-element-c66f0f8 .ld-fh-element a {
    color: #FFFFFFD9;
}

.elementor-7437 .elementor-element.elementor-element-c66f0f8 .ld-fh-element {
    font-family: "Open Sauce One", Sans-serif;
    font-size: 26px;
    font-weight: 700;
    margin: 0em 0em 1.5em 0em;
}

.elementor-7437 .elementor-element.elementor-element-c66f0f8 .lqd-highlight-inner,
.elementor-7437 .elementor-element.elementor-element-c66f0f8 .lqd-highlight-inner .lqd-highlight-brush-svg {
    height: 0.275em;
}

.elementor-7437 .elementor-element.elementor-element-c66f0f8 .lqd-highlight-inner {
    bottom: 0em;
    left: 0em;
}

.elementor-7437 .elementor-element.elementor-element-c66f0f8>.elementor-widget-container {
    margin: 0px 0px -20px 3px;
    padding: 0px 0px 0px 0px;
}

.elementor-7437 .elementor-element.elementor-element-6e89c40 {
    text-align: left;
}

.elementor-7437 .elementor-element.elementor-element-6e89c40 .reset-ul li a {
    justify-content: left;
}

.elementor-7437 .elementor-element.elementor-element-6e89c40 .lqd-custom-menu>.reset-ul>li:not(:last-child),
.elementor-7437 .elementor-element.elementor-element-6e89c40 .lqd-custom-menu-btn-wrap {
    margin-bottom: 3px;
}

.elementor-7437 .elementor-element.elementor-element-6e89c40 .lqd-custom-menu>ul>li>a {
    padding: 0px 0px 0px 0px !important;
}

.elementor-7437 .elementor-element.elementor-element-6e89c40 .reset-ul>li>a {
    font-family: "Open Sauce One", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.78em;
}

.elementor-7437 .elementor-element.elementor-element-6e89c40 .lqd-fancy-menu>.reset-ul>li>a:hover,
.elementor-7437 .elementor-element.elementor-element-6e89c40 .lqd-fancy-menu li.is-active>a {
    color: #FFFFFF;
    background: #f68e44;
}

.elementor-7437 .elementor-element.elementor-element-6e89c40>.elementor-widget-container {
    margin: 0px 0px 0px 3px;
}

.elementor-7437 .elementor-element.elementor-element-fa7e14a>.elementor-element-populated {
    margin: -13px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-7437 .elementor-element.elementor-element-c6903ea .ld-fh-element,
.elementor-7437 .elementor-element.elementor-element-c6903ea .ld-fh-element a {
    color: #FFFFFFD9;
}

.elementor-7437 .elementor-element.elementor-element-c6903ea .ld-fh-element {
    font-family: "Open Sauce Two", Sans-serif;
    font-size: 26px;
    font-weight: 700;
    margin: 0em 0em 1.5em 0em;
}

.elementor-7437 .elementor-element.elementor-element-c6903ea .lqd-highlight-inner,
.elementor-7437 .elementor-element.elementor-element-c6903ea .lqd-highlight-inner .lqd-highlight-brush-svg {
    height: 0.275em;
}

.elementor-7437 .elementor-element.elementor-element-c6903ea .lqd-highlight-inner {
    bottom: 0em;
    left: 0em;
}

.elementor-7437 .elementor-element.elementor-element-c6903ea>.elementor-widget-container {
    margin: 0px 0px -26px 0px;
}

.elementor-7437 .elementor-element.elementor-element-990e0d4 .ld-fh-element,
.elementor-7437 .elementor-element.elementor-element-990e0d4 .ld-fh-element a {
    color: #FFFFFFD9;
}

.elementor-7437 .elementor-element.elementor-element-990e0d4 .ld-fh-element {
    font-family: "Open Sauce One", Sans-serif;
    font-size: 15px;
    margin: 0em 0em 1.5em 0em;
}

.elementor-7437 .elementor-element.elementor-element-990e0d4 .lqd-highlight-inner,
.elementor-7437 .elementor-element.elementor-element-990e0d4 .lqd-highlight-inner .lqd-highlight-brush-svg {
    height: 0.275em;
}

.elementor-7437 .elementor-element.elementor-element-990e0d4 .lqd-highlight-inner {
    bottom: 0em;
    left: 0em;
}

.elementor-7437 .elementor-element.elementor-element-d582f2e>.elementor-element-populated {
    margin: -13px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-7437 .elementor-element.elementor-element-466c741>.elementor-widget-container {
    padding: 8px 0px 0px 0px;
}

.elementor-7437 .elementor-element.elementor-element-8f04fa9 {
    width: auto;
    text-align: center;
}

.elementor-7437 .elementor-element.elementor-element-8f04fa9 .lqd-imggrp-img-container {
    width: 80%;
}

.elementor-7437 .elementor-element.elementor-element-8f04fa9>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 42px 0px 0px 0px;
}

.elementor-7437 .elementor-element.elementor-element-bc0d7f3 {
    width: auto;
    text-align: center;
}

.elementor-7437 .elementor-element.elementor-element-bc0d7f3 .lqd-imggrp-img-container {
    width: 68%;
}

.elementor-7437 .elementor-element.elementor-element-2e58b37 {
    width: auto;
    text-align: center;
}

.elementor-7437 .elementor-element.elementor-element-2e58b37 .lqd-imggrp-img-container {
    width: 70%;
}

.elementor-7437 .elementor-element.elementor-element-2e58b37>.elementor-widget-container {
    padding: 38px 0px 0px 0px;
}

.elementor-7437 .elementor-element.elementor-element-7afb4b0 .ld-fh-element,
.elementor-7437 .elementor-element.elementor-element-7afb4b0 .ld-fh-element a {
    color: #FFFFFF;
}

.elementor-7437 .elementor-element.elementor-element-7afb4b0 .ld-fh-element {
    font-family: "Open Sauce One", Sans-serif;
    font-size: 13px;
    font-weight: 300;
}

.elementor-7437 .elementor-element.elementor-element-7afb4b0 .lqd-highlight-inner {
    bottom: 0em;
    left: 0em;
}

.elementor-7437 .elementor-element.elementor-element-7afb4b0>.elementor-widget-container {
    padding: 30px 0px 0px 0px;
}

.main-footer a:not(.btn),
.single-liquid-footer a:not(.btn) {
    color: #FFFFFF;
}

.main-footer,
.single-liquid-footer #lqd-site-content {
    background-color: #C10A0B;
}

@media(max-width:1199px) {
    .elementor-7437 .elementor-element.elementor-element-53ee062 .ld-fh-element {
        font-size: 45px;
    }
}

@media(max-width:767px) {
    .elementor-7437 .elementor-element.elementor-element-831e93f {
        padding: 60px 10px 0px 10px;
    }

    .elementor-7437 .elementor-element.elementor-element-53ee062 .ld-fh-element {
        font-size: 13.5vw;
    }

    .elementor-7437 .elementor-element.elementor-element-c0942e0>.elementor-widget-container {
        margin: 20px 0px 0px 0px;
    }

    .elementor-7437 .elementor-element.elementor-element-afe4297 {
        width: 50%;
    }

    .elementor-7437 .elementor-element.elementor-element-fa7e14a {
        width: 50%;
    }
}